<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "textarea-description" %>
  </div>

   <div class="field">
    <%= f.label :code %>
    <%= f.text_area :code, :class => "textarea-code" %>
  </div>


  <div>
    <%= f.submit 'Save Changes', :class => 'btn btn-info btn-large' %>
  </div>
<% end %>


