<br /><br />
<div class="row-fluid  padding-page">

<div class="span2">
<ul class="nav nav-pills nav-stacked">
  <li class="nav-header">Admin Menu</li>
     <li <% if current_page?(admin_index_path) %>class="active"<% end %>><%= link_to "User Manager List", admin_index_path %></li>
     <li <% if current_page?(admin_videos_path) and @video.id == 1 %>class="active"<% end %>><%= link_to "Set Embeded Video", admin_videos_path(:id => 1) %></li>
     <li <% if current_page?(admin_videos_path) and @video.id == 2  %>class="active"<% end %>><%= link_to "Set Embeded Audio", admin_videos_path(:id => 2) %></li>
</ul>

</div>



<div class="span9 offset1">

<div class="text-left">
  <h3>User Manager</h3>
</div>
<hr>

<table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th class="span1">ID</th>
                  <th class="span2">Name</th>
                  <th class="span3">Email</th>
                  <th class="span2">Gender</th>
                  <th class="span1">Logged</th>
                  <th class="span1">Edit</th>
                  <th class="span1">Delete</th>
                  <th class="span1">Admin</th>

                </tr>
              </thead>
              <tbody>

<% @users = User.all %>
<% @users.each do |user| %>
  <tr>
                  <td><%= user.id %></td>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.gender %></td>
                  <td><%= user.sign_in_count %></td>
                  <td><%= link_to "Show", "/users/#{user.id}" %></td>
                  <td> <%= link_to "Edit", root_path %></td>
                  <td><% if user.admin? %>
                            <i class="icon-check"></i>
                          <% end %></td>


                </tr>
<% end %>
              </tbody>
            </table>
          </div>
        </div>
