<div class="row-fluid">

<div class="span2">
<ul class="nav nav-pills nav-stacked">
  <li class="nav-header">Admin Menu</li>
  <li <% if current_page?(admin_index_path) %>class="active"<% end %>><%= link_to "User Manager List", admin_index_path %></li>
   <li <% if current_page?(admin_videos_path) %>class="active"<% end %>><%= link_to "Set Embeded Video", admin_videos_path %></li>

</ul>
</div>



<div class="span9 offset1">


<div class="text-left">
  <h3>Video Settings</h3>
</div>
This video will be embeded on dashboard page. Click on edit botton to change your code.
<hr>

<%= @video.code.html_safe %> <br />
<P>
  <h4><%= @video.name %></h4>
</P>
    <p>

    <blockquote><%= @video.description %></blockquote>

    </p>  <br />

      <%= link_to "Edit Embed Video", "/admin/video_edit/#{@video.id}", { :class=>"btn btn-info btn-large" } %>


              </tbody>
            </table>
          </div>
        </div>

